#app {
  /*background-color: black;*/
  margin-top: 24px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

#main {
  /*background-color: black;*/
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#canvas-container {
  border: 1px solid gray;
  border-radius: 12px;
  padding: 6px;
  background-color: #0A0B1A;
}

#overlap {
  height: 150px;
  width: 350px;
  background-color: green;
  display: block;
  float: right;
  z-index: 3;
  position: relative;
  /* factor in padding!! */
  right: 175px;
  top: 275px;
  border-radius: 12px;
  padding: 16px;
}

#overlap h1, p {
  color: white;
}

#overlap h1 {
  font-size: 28px;
}

/********************/
/*      SIDEBAR     */
/********************/

#nav {
  /*background-color: red;*/
  width: 250px;
  margin-right: 40px;
  border: 1px solid gray;
  border-radius: 12px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/********************/
/*       LOGO       */
/********************/

#logo {
  /*background-color: orange;*/
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#logo img {
  height: 100px;
}

#logo h1 {
  color: white;
  font-size: 36px;
  margin: 8px 0px;
}

/*********************/
/* STOP, PLAY, PAUSE */
/*********************/

#play-controls {
  background-color: #282c34;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  flex: 0 0 80px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#play-controls img {
  height: 52px;
  width: 52px;
  margin: 0px 12px;
}

#play-controls img:hover {
  cursor: pointer;
}

#info:hover {
  content: url('http://res.cloudinary.com/oblaka/image/upload/v1493833160/info_filled_ykz9ue.png');
}

#stop:hover {
  content: url('http://res.cloudinary.com/oblaka/image/upload/v1490970171/stop_filled_ikqt0t.png');
}

#play:hover {
  content: url('http://res.cloudinary.com/oblaka/image/upload/v1490970171/play_filled_e1onta.png');
}

#pause:hover {
  content: url('http://res.cloudinary.com/oblaka/image/upload/v1490970171/pause_filled_z6i2bd.png');
}

/********************/
/* VOLUME and TEMPO */
/********************/

#sliders {
  /*background-color: orange;*/
  flex: 0 0 130px;
  padding: 12px 0px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.slider-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 16px 0px 8px;
}

.slider-img-container {
  /*background-color: red;*/
  height: 40px;
  width: 100px;
  margin-right: 8px;
  padding-bottom: 9px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider-container img {
  height: 46px;
}

/********************/
/* CLEFS and NOTES */
/********************/

#note-controls {
  background-color: #282c34;
  border-top: 1px solid gray;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 18px 0 12px 0;
  flex: 0 0 0;
}

#ants-index-container {
  margin-top: 12px;
  padding-right: 16px;
  height: 200px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#clef-imgs {
  /*background-color: blue;*/
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#clef-imgs img {
  /*background-color: pink;*/
  width: 80px;
  padding: 0;
}

#ants-index {
  display: flex;
  flex-direction: column;
}

.ants-index-item {
  display: flex;
  flex-direction: row;
  margin: 8px;
}

.ants-index-item img {
  height: 35px;
}

.rhythm-img:hover {
  cursor: pointer;
}

/********************/
/*      FOOTER      */
/********************/

#footer {
  /*background-color: orange;*/
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 30px 300px;
}

#footer img {
  height: 60px;
  width: 60px;
}

#footer img:hover {
  cursor: pointer;
}

/********************/
/*     DROPDOWN     */
/********************/

#dropdown-container {
  padding: 0 16px;
}

.result {
  padding: 8px 0;
}

.Dropdown-root {
  position: relative;
}

.Dropdown-control {
  position: relative;
  overflow: hidden;
  background-color: #1A1B25;
  border: 1px solid white;
  border-radius: 2px;
  box-sizing: border-box;
  color: white;
  cursor: default;
  outline: none;
  padding: 8px 52px 8px 10px;
  transition: all 200ms ease;
}

.Dropdown-control:hover {
  /*box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);*/
  cursor: pointer;
}

.Dropdown-arrow {
  border-color: white transparent transparent;
  border-style: solid;
  border-width: 5px 5px 0;
  content: ' ';
  display: block;
  height: 0;
  margin-top: -ceil(2.5);
  position: absolute;
  right: 10px;
  top: 14px;
  width: 0
}

.is-open .Dropdown-arrow {
  border-color: transparent transparent white;
  border-width: 0 5px 5px;
}

.Dropdown-menu {
  background-color: #1A1B25;
  border: 1px solid white;
  /*box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);*/
  box-sizing: border-box;
  margin-top: -1px;
  max-height: 300px;
  overflow-y: auto;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1000;
  -webkit-overflow-scrolling: touch;
}

.Dropdown-menu .Dropdown-group > .Dropdown-title {
  padding: 8px 10px;
  color: white;
  font-weight: bold;
  text-transform: capitalize;
}

.Dropdown-option {
  box-sizing: border-box;
  color: gray;
  cursor: pointer;
  display: block;
  padding: 8px 10px;
}

.Dropdown-option:last-child {
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

.Dropdown-option:hover {
  background-color: #282c34;
  color: white;
}

.Dropdown-option.is-selected {
  background-color: #282c34;
  color: white;
}

.Dropdown-noresults {
  box-sizing: border-box;
  color: red;
  cursor: default;
  display: block;
  padding: 8px 10px;
}
